.mentors-part{
    background: #ECE9E6 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width:95% !important;
    width:100% !important;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    margin: auto;
  }
  .mentors-data{
      display: flex;
  }
  .mentors-info-3{
    display: block;
}

  .mentor-img{
      margin-right: 5rem;
  }
  .mentor-pic{
      width:150px;
      height: 150px;
  }
  .mentors-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .mentors-info-1,.mentors-info-2{
      width: 33.33%;
  }
  .requestButton{
	border: none;
	outline: none;
    background-color: rgb(166, 98, 255);
	padding: 10px 20px;
	color: white;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 15px;
    text-transform: uppercase;
  }
  .mentors-info-32{
    display: none;
}
.Labels{
    font-weight: 600;
    color: #8024f8;
}
.mentors-part{
    padding: 30px 60px;
}
.mentors-information{
    width: 100%;
}
.mentor-img img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

  @media screen and (max-width: 850px) {
    .mentors-data{
        display: flex;
        justify-content: space-around;
    }

    .mentors-info{
        display: block;
    }
    .mentors-info-3{
        display: none;
    }
    .mentors-info-32{
        display: block;
    }
    .mentors-info-1,.mentors-info-2{
        padding-right: 1rem;
    }
    .mentors-part{
        padding: 20px 20px;
    }
    .mentor-img{
        margin-right: 1rem;
    }
    .mentors-information{
        width: 400px;
    }

  }
