.top-banner{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    min-height: 450px;
    margin-bottom: 5rem;
    
}
.text12{
    text-align: center;
    padding-top: 10rem;
    padding-left: 5rem;
    width:800px;
}
span{
    color:#a662ff;
}
.course-title{
    font-weight: 600;
    width: 400px;
}
.course-image{
    /* height:200px;
    width:100%; */
    padding-left: 10rem;
    padding-top: 3rem;
}
.course-image img{
    height:400px;
    width:900px;

}
.course-para{
    
    padding:1rem 0;
    font-size: 20px;
    font-weight: 300px;
}
.actionbtn{
    padding:10px;
    width:200px;
    background-color:#a662ff ;
    color:white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
}
.actionbtn:hover{
    color: black;
}
.main{
    padding-left: 5rem;
    padding-bottom: 10rem;
   
}
.course-section1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.card {
    width:400px !important;
    margin-bottom: 5rem;
}
.part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa{
    font-size: 20px;
}
.courselink{
    text-align: center;
    padding-left: 8rem;
    color:#a662ff;
    font-weight: 600;
}
.courselink:hover{
    text-decoration: underline;
}